<html>
<head>
    <title>Login with FB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="description" content="Here is some info for the robots">

    <!--Add CSS libraries -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/main.css?v=1">

    <!--Add JS libraries in this order, JQ, ANG, Boot, App-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/js/login_fb_ng.js?v=1"></script>
    <script src="/static/js/global_ng.js?v=1"></script>

</head>
<body id="bodyCtrl" ng-app="LoginFbApp" ng-controller="LoginFbCtrl">

<div class="container">
    <div class="row clearfix">
		<div class="col-md-12 column">
            <a href="/"><i class="fa fa-step-backward"></i> Back to Home Page</a><br>
            <br>
        </div>
    </div>

	<div class="row clearfix">
		<div class="col-md-4 column">
			Hi there!
            <br>
            <br>
            <fb:login-button id="fb_login_btn" scope="public_profile,email" onlogin="angular.element(document.getElementById('bodyCtrl')).scope().checkLoginState();">
            </fb:login-button>
            <br>
            <br>
            <a href="/" ng-click="revokePermissions()">Revoke App Permissions</a>
		</div>
        <div class="col-md-1 column">
		</div>
		<div class="col-md-7 column">
            <p>{{startDateTime}}</p>
			server_result_txt = <p ng-bind="server_result_txt">TBD</p>
            fb_login_status = <p ng-bind="fb_login_status">TBD</p>
            fb_login_msg = <p ng-bind="fb_login_msg">TBD</p>
            fb_result_txt = <p ng-bind="fb_result_txt">TBD</p>
		</div>
	</div>
</div>

</body>
</html>
